<div class="blogTitle">
  <%= @blog.title %>
</div>
<div class="blogDate">
  <%= @blog.created_at %>
</div>
<div class="blogAuthor">
</div>
<div class="blogText">
  <%= simple_format @blog.content %>
</div>