body{
  position: relative;
  .header{
    width: 100vw;
    height: 70px;
    display: flex;
    background-color: #252525;
    justify-content: space-between;
    &__title{
      margin: 3px 0 0 0;
    }
    &__right{
      display: flex;
      padding: 0 100px 0 0;
      color: #ffffff;
      line-height: 70px;
      font-size: 17px;
      &__user-name{
        &__mypage{
          text-decoration: none;
          color: #ffffff;
          margin: 0 30px 0 0;
        }
      }
      &__logout{
        &__btn{
          text-decoration: none;
          color: #ffffff;
          margin: 0 30px 0 0;
        }
      }
      &__new{
        &__btn{
          text-decoration: none;
          color: #ffffff;
          margin: 0 30px 0 0;
        }
      }
    }
  }
  .contents{
    z-index: -1;
    display: flex; /* 二つのスライドを横に並べる */
    width: auto;
    overflow: hidden;
    height: calc(100vh - 70px);
    &__back{
      animation: infinity-loop 30s infinite linear 1s both; /* 無限ループアニメーションの設定 */
      display: flex; /* スライドの要素を横に並べる */
      position: relative;
      }
        .hoge{
          height: 100%;
          width: auto
        }
        @keyframes infinity-loop {
          from {
            transform: translateX(0vw);
          }
          to {
            transform: translateX(-100%);
          }
        }
  }
  #sns{
    position: absolute;
    margin: 0 46vw;
    bottom: 5px;
  }
  .blogs{
    position: absolute;
    margin: auto;
    top: 70px;
    bottom: 45px;
    left: 0;
    right: 0;
    overflow: scroll;
  }
    .blog-list{
      margin: 15px 300px;
      color: #ffffff;
      background-color: #252525;
    }
  .form{
    height: 700px;
    width: 900px;
    margin: 10px auto;
    &__title{
      display: block;
      height: 25px;
      width: calc(100% - 55px);
      margin: 10px auto;
      opacity: 0.5;
      color: #000000;
      opacity: 0.7;
      border-radius: 10px;
      font-size: 15px;
    }
    &__text{
      display: block;
      width: calc(100% - 20px);
      margin: 10px auto;
      height: 70%;
      font-size: 20px;
      opacity: 0.7;
      border-radius: 10px;
      border: none;
    }
    &__btn{
      display: block;
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 780px;
      background-color: #252525;
      color: #ffffff;
      cursor: pointer;
      
    }
  }
}
